In [2]:
pip install mysql

Collecting mysql
  Using cached mysql-0.0.3-py3-none-any.whl.metadata (746 bytes)
Collecting mysqlclient (from mysql)
  Downloading mysqlclient-2.2.7-cp312-cp312-win_amd64.whl.metadata (4.8 kB)
Using cached mysql-0.0.3-py3-none-any.whl (1.2 kB)
Downloading mysqlclient-2.2.7-cp312-cp312-win_amd64.whl (208 kB)
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.2.7
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~ (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (c:\Python312\Lib\site-packages)

In [2]:
import mysql.connector
import pandas as pd

db_user = 'root'
db_password = 'password'  # Replace with your MySQL root password
db_host = 'localhost'
db_port = '3306'
db_name = 'sakila'  # replace Database name contoh sakila, world, employee

# Create the connection
my_connector = mysql.connector.connect(
    host=db_host,
    user=db_user,
    passwd=db_password,
    database=db_name
)

NotSupportedError: Authentication plugin 'caching_sha2_password' is not supported

In [9]:
my_cursor = my_connector.cursor()

# Query to fetch data from the database
query =  '''
select * from payment
    '''

# execute query
my_cursor.execute(query)
result = my_cursor.fetchall()

df = pd.DataFrame(result,columns=my_cursor.column_names)

df.head()

,payment_id,customer_id,staff_id,rental_id,amount,payment_date,last_update
0,1,1,1,76,2.99,2005-05-25 11:30:37,2006-02-15 22:12:30
1,2,1,1,573,0.99,2005-05-28 10:35:23,2006-02-15 22:12:30
2,3,1,1,1185,5.99,2005-06-15 00:54:12,2006-02-15 22:12:30
3,4,1,2,1422,0.99,2005-06-15 18:02:53,2006-02-15 22:12:30
4,5,1,2,1476,9.99,2005-06-15 21:08:46,2006-02-15 22:12:30